[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

 .btn-tall{
     height: 100px;
}

 .btn-tiny{
     height: 18px;
     width: 18px;
     padding: 10px;
     margin-bottom: 7px;
     margin-right: 5px;
     font-size: 10px;
}

.question-window {
     height: 450px;
     overflow-y: hidden;
}

.container {
     width: 780px;
}
 
.dynamic-list{
    position: relative;
}

.dynamic-list > * {
    position:absolute;
    padding: 10px 2px 10px 20px;
    background: #9B59B6;
    color: white;
    width: 200px;
    list-style-type: none;
}