html {
       overflow-y: scroll;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}


 .btn-tiny{
     height: 18px;
     width: 18px;
     padding: 10px;
     margin-bottom: 7px;
     margin-right: 5px;
     font-size: 10px;
}

.progress {
    width: 100%;
}

@media (min-width: 768px) { 
    .buttonSpan {
        width: 140px;
        float: left;
        min-height: 1px;
        margin-left:  20px;
    }    
    
    .btn-tall{
     height: 100px;
    }

    .question-window {
         height: 450px;
         overflow-y: hidden;
         width: 780px;
         padding-left: 20px;
    }

    .container {
         width: 780px;
         
    }
    .buttonText {
        margin-top: 20px;
    }
}

@media (max-width: 767px) { 
    .buttonSpan {
        width: 90%;
        min-height: 1px;
        margin-left:  20px;
        margin-bottom: 10px;
        float: none;
        clear: both;
    }    
    .btn-tall{
        height: 70px;
    }

    .question-window {
        height: 490px;
        overflow-y: hidden;
    }

    .container {
           
    }

    .helpLink {
        display: block;
    }

    .aspectTitle{
        display: block;
        height: 40px;
    }
}






.dynamic-list-container {
    padding-top: 225px;
}

.dynamic-list-container h5{
    color:  #DDDDDD;
    padding-left: 24px;
}

.dynamic-list{
    position: relative;
    height: 175px;
    width: 175px;
    padding: 0;
    overflow-y: hidden;
}

.dynamic-list > * {
    display: block;
    position:absolute;
    padding: 6px 2px 6px 15px;
    background: #EEEEEE;
    color: #BBBBBB;
    width: 150px;
    list-style-type: none;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

