<h1>Dynamic list</h1>

<button class="btn" ng-click="shuffle()">Update</button>

<ul class="dynamic-list">
    <li  ng-repeat="item in data" cc-shuffle-item="item">{{item.name}} <span class="icon-arrow-left icon-white" style="float: right;"></span></li>
</ul>

<!--<div style="position:relative;height:400px;width:200px;background-color:#EEEEEE">
    <div style="position: absolute; top: 150px;background-color:#DDDDDD;width: 100%;height: 50px;">
        one
    </div>
    <div style="position: absolute; top: 250px;background-color:#DDDDDD;width: 100%;height: 50px;">
        two
    </div>
</div>-->